---
import '../styles/global.css'
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const pageTitle = 'About us'

const identity = {
	firstname: 'Adam',
	lastname: 'Stone',
	country: 'Germany',
	hobbies: ['sleeping', 'sitting', 'drinking']
}

const hobbyColor = 'navy';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{hobbyColor}}>
			h1 {
				color: purple;
				font-size: 4rem;
			}

			.hobbies {
				color: var(--hobbyColor);
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<Navigation />
		<h1>{pageTitle}</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus repellat explicabo nobis iusto labore animi necessitatibus eaque enim quod ducimus nihil, ut ex cum perspiciatis harum veritatis alias. Excepturi, odio.
        </p>

		<p>My name is {identity.firstname}</p>
		<ul>
			{identity.hobbies.map((hobby) => <li class="hobbies">{hobby}</li>)}
		</ul>

		<Footer />
	</body>
</html>
